

img {
    width: 50%;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.menu-toggle{
    display: none;
}

/* Mobile screen changes */
@media (max-width: 768px) {
    
    img {
        width: 90%;
        max-width: 400px;
    }
}
